@charset "utf-8";

@import "_mdl-color.scss";

$color-primary-contrast: mdlColor($color-dark-contrast) !default;
$color-accent-contrast: mdlColor($color-dark-contrast) !default;

// https://getmdl.io/customize/index.html で、mdl のprimary/accent colorを設定したら、
// それに合わせて、以下の定義を書き換える。
$color-primary: mdlColor($palette-indigo-500) !default;
$color-primary-dark: mdlColor($palette-indigo-700) !default;
$color-accent: mdlColor($palette-pink-A200) !default;

