@charset "utf-8";

@import "_common.scss";
@import "_custom-mdl.scss";

div.canvas-box {
  position: relative;
  @include square_border(lightgray);
  margin: auto;
  width: 640px;
  height: 480px;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .text-box {
    position: absolute;
    width: 100px;
    top: 100px;
    left: 100px;
    display: none;
    font-size: 14px;
    line-height: 1.2em;
    @include mch-font-family;
  }
}

.rubber-bands {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  display: none;

  .rb-content {
    position: absolute;
    cursor: move;
    box-sizing: border-box;
    @include square_border($color-primary);
  }
  .rb-t, .rb-b {
    position: absolute;
    height: 15px;
    margin-top: -7px;
    cursor: n-resize;
    box-sizing: border-box;
  }
  .rb-l, .rb-r {
    position: absolute;
    width: 15px;
    margin-left: -7px;
    cursor: e-resize;
    box-sizing: border-box;
    //background-color: #00A000;
  }

  .knob {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -7px;
    margin-top: -7px;
    @include square_border(gray);
    background-color: $color-primary;
    box-sizing: border-box;
  }
  .knob-l,
  .knob-r {
    cursor: e-resize;
  }
  .knob-t,
  .knob-b {
    cursor: n-resize;
  }

  .knob-rt,
  .knob-lb {
    cursor: ne-resize;
  }
  .knob-lt,
  .knob-rb {
    cursor: nw-resize;
  }
}


